@model PROYECTO_FINAL.Models.categoria

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Detalles de La Categoria</h2>


<table class="table table-bordered table-hover alert alert-lineal">
    <tr>
        <th>Nombre de La Categoria</th>
        <td>@Html.DisplayFor(model => model.nombre)</td>
    </tr>
    <tr>
        <th>Descripción de la Categoria</th>
        <td>@Html.DisplayFor(model => model.descripcion)</td>
    </tr>
</table>

<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.idcategoria }, new { @class = "btn btn-success" })
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous"><a href="/Categoria/Index"><span aria-hidden="true">&larr;</span> Volver</a></li>
        </ul>
    </nav>
</p>
