@model PROYECTO_FINAL.Models.persona

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Agregar Persona</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            <div class="input-group col-md-4">
                <span class="input-group-addon">Tipo de Persona</span>
                @Html.DropDownList(
            "tipo_persona",
                new List<SelectListItem>
                {
                    new SelectListItem { Text = "", Value = "" },
                    new SelectListItem { Text = "Cliente",  Value = "Cliente" },
                    new SelectListItem { Text = "Proveedor",  Value = "Proveedor" }
                },
            new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="input-group col-md-4">
                <span class="input-group-addon" id="areas">Nombre de la Persona</span>
                <input type="text" name="nombre" value=" " aria-describedby="areas" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <div class="input-group col-md-4">
                <span class="input-group-addon" id="areas">Tipo de Identificación</span>
                @Html.DropDownList(
                "tipo_documento",
                new List<SelectListItem>
                {
                    new SelectListItem { Text = "", Value = "" },
                    new SelectListItem { Text = "Cedula",  Value = "CC" },
                    new SelectListItem { Text = "DNI",  Value = "DNI" },
                    new SelectListItem { Text = "Pasaporte",  Value = "Pasaporte" }
                },
            new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="input-group col-md-4">
                <span class="input-group-addon" id="areas">Numero de Identificación</span>
                <input type="text" name="num_documento" value=" " aria-describedby="areas" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <div class="input-group col-md-4">
                <span class="input-group-addon" id="areas">Dirección de La Persona</span>
                <input type="text" name="direccion" value=" " aria-describedby="areas" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <div class="input-group col-md-4">
                <span class="input-group-addon" id="areas">Telefono de La Persona</span>
                <input type="text" name="telefono" value=" " aria-describedby="areas" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <div class="input-group col-md-4">
                <span class="input-group-addon" id="areas">Correo Electronico</span>
                <input type="text" name="email" value=" " aria-describedby="areas" class="form-control" />
            </div>
        </div>


        <div class="input-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Agregar" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<nav aria-label="...">
    <ul class="pager">
        <li class="previous"><a href="/Categoria/Index"><span aria-hidden="true">&larr;</span> Volver</a></li>
    </ul>
</nav>
