
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}
.itufo{
    width: 100% !important;
    height: 700px !important;
}

.prio{
    width: 300px !important;
    height: 350px !important;
}
.ir-arriba{
    display: none;
    padding: 20px;
    background: #189a7e;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    position: fixed !important;
    top: 90%;
    right: 20px;
    height: 60px;
}

.cajaTienda{
    min-height : 624px !important;
    max-height : 624px !important;
}
