
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container" ng-controller="ArticuloController">
    <div class="panel panel-info col-md-4" ng-repeat="datos in data2 track by $index">
        <div class="panel-heading">{{datos.nombre}}</div>
        <div class="panel-body">
            <div class="thumbnail cajaTienda">
                <img ng-src="/Uploads/{{datos.imagen}}" class="img-circle prio" alt="Alternate Text" />
                <div class="caption">
                    <h2 class="text-info">{{datos.descripcion}}</h2>
                    <h2 class="text-aqua">{{datos.price | currency}}</h2>
                    <p><a href="#" class="btn btn-success">Comprar</a></p>
                </div>
            </div>
        </div>
    </div>
    <div data-pagination="" data-num-pages="numPages()"
         data-current-page="currentPage" data-max-size="maxSize"
         data-boundary-links="true">
    </div>
</div>

